.hidden {
    display: none;
}

#container {
    margin: 0 auto;
    width: 860px;
    padding: 0px 50px;
}

/*Header*/

#mainHeader {
    width: 860px;
    height: 109px;
    display: flex;
    flex-direction: row;
}

#logo {
    width: 104px;
    height: 103px;
    background-color: black;
    margin-top: 9px;
}

#socialNav {
    width: 660px;
    height: 96px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 15px;
}

.social {
    width: 180px;
    height: 30px;
    background-color: black;
    margin-left: auto;
}

.mainNav {
    width: 660px;
    height: 50px;
    background-color: black;
    margin-top: 16px;
}

/*Index Body*/

#heroCon {
    width: 860px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}

.button {
    width: 90px;
    height: 90px;
    background-color: black;
    margin-top: 75px;
}

#hero {
    width: 600px;
    height: 250px;
    background-color: black;
}

#buttonTwo {
    width: 530px;
    height: 90px;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
}

#title {
    width: 550px;
    height: 75px;
    background-color: black;
    margin: 0 auto;
    margin-top: 40px;
}

#boxCon {
    width: 860px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.box {
    width: 275px;
    height: 400px;
    background-color: black;
}

/*Footer*/

#mainFooter {
    width: 860px;
    height: 109px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footNav {
    width: 660px;
    height: 50px;
    background-color: black;
    margin-top: 40px;
}

.socialFoot {
    width: 180px;
    height: 30px;
    background-color: black;
    margin-top: 48px;
}

/*About Body*/

#titleOne {
    width: 410px;
    height: 75px;
    background-color: black;
    margin: 0 auto;
    margin-top: 25px;
}

#subTitle {
    width: 730px;
    height: 55px;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
}

#boxOne {
    width: 860px;
    height: 150px;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
}

#titleTwo {
    width: 340px;
    height: 75px;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
}

#conTwo {
    width: 820px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

#boxTwo {
    width: 570px;
    height: 250px;
    background-color: black;
}

#photoTwo {
    width: 230px;
    height: 250px;
    background-color: black;
}

#titleThree {
    width: 565px;
    height: 75px;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
}

#conThree {
    width: 820px;
    height: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
}

#boxThree {
    width: 570px;
    height: 210px;
    background-color: black;
}

#photoThree {
    width: 230px;
    height: 210px;
    background-color: black;
}

#titleFour {
    width: 305px;
    height: 75px;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
}

#conFour {
    width: 815px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
}

.gear {
    width: 250px;
    height: 250px;
    background-color: black;
}

#boxFour {
    width: 280px;
    height: 50px;
    background-color: black;
    margin: 0 auto;
    margin-top: 15px;
}

#titleFive {
    width: 530px;
    height: 75px;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
}

#conFive {
    width: 815px;
    height: 263px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

.bizCon {
    width: 278px;
    height: 263px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.biz {
    width: 278px;
    height: 125px;
    background-color: black;
}

#bizTwo {
    width: 217px;
    height: 263px;
    background-color: black;
}

#titleSix {
    width: 440px;
    height: 75px;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
}

#boxSix {
    width: 860px;
    height: 200px;
    background-color: black;
    margin-top: 20px;
}

#titleSeven {
    width: 615px;
    height: 75px;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
}

#boxSeven {
    width: 860px;
    height: 246px;
    background-color: black;
    margin-top: 20px;
}




